.main-functions {
    display: block;
}

.secondary-functions {
    display: block;
    margin: 10px;
}

.grab-startups {
    display: block;
    margin: 5px;
}

.pull-angellist {
    display: block;
    margin: 5px;
}